//- default variables

//- variables on the page
block variables

//-include mixins
include ./helpers/userpic
include ./helpers/svg-icon
include ./helpers/inputs
include ./blocks/meta
include ./blocks/socials
include ./blocks/menu
include ./blocks/forms


//- template

doctype html
html(lang="ru-RU")
	head
		title #{title}
		+meta(metaData)

	body
		.wrapper.bg_forest-full
			.content.blog_centerd

				span.authorize.authorize_top#authorize(data-flip-id="login") Авторизоваться

				main
					block content

			footer.footer
				.footer__copyright © Елена Куклина | Создано с любовью в LoftSchool | 2017


		include ./blocks/preloader