.arrow-down {
	display: block;
	position: absolute;
	width: 26px;
	height: 16px;
	margin-left: -(26px / 2);
	
}

.arrow_head {
	bottom: 70px;
	left: 50%;
}

.arrow_slider {
	top: 50%;
	left: 50%;
	transform: translate(50% 50%);
}

.arrow_up {
	transform: rotate(180deg);
}