.authorize {
	display: block;
	width: 180px;
	height: 45px;
	line-height: 43px;
	@include font("Roboto-Medium");
	color: $color-white;
	text-decoration: none;
	border: 1px solid;
	border-radius: 30px;
	text-align: center;
	cursor: pointer;

	&:hover {background: rgba($color-white, .2);}
}

.authorize_top {
	position: absolute;
	top: 25px;
	right: 100px;

	@include tablets {
		top: 20px;
		right: 20px;
	}

	@include phones {
		right: auto;
		left: auto;
	}
}