.blog {
	display: flex;
	padding-top: 70px;
	background: $color-bg3;
}

.blog_centerd {
	@include flex-to(center);
	flex-direction: column;
}

.user__desc_blog {
	@extend .user__desc;
	margin-top: -50px;
}