.blog {
	display: flex;
	padding-top: 70px;
	background: $color-bg3;

	&.on {
		@include for-blog {
			.sidebar       { transform: translateX(0); }
			.blog__content { transform: translateX($width-sidebar-px);}
		}
	}
}

.blog__content {
	flex: 1;
	flex-basis: calc(100% - $width-sidebar-pc);
	transform: translateX(0);
	transition: $blog-transition;

	&.nav-fixed {
	margin-left: $width-sidebar-pc;
		@include for-blog { margin-left: 0; }
	}
}


//Header on the page
.user__desc_blog {
	@extend .user__desc;
	margin-top: -50px;
}
