//block with contact form
.section_contacts {
	position: relative;
	@include flex-to(center);
}


.contacts {
	position: absolute;
	width: 380px;
	min-height: 312px;
	padding: 36px 40px;
	background: rgba($color-bg2, .85);
	color: $color-font-blog;
	box-shadow: 0 0 15px #999;
	border-radius: 5px;

	@include phones {
		width: 100%;
		box-shadow: none;
		border-radius: 0;
	}
}


//icons
.contacts__icon {
	@extend .svg_green;
	height: 24px;
	width: 24px;
	margin-right: 10px;
}

.contacts__ul {
	margin-top: 50px;
}

.contacts__li {
	margin: 13px 0;
}

.contacts__str {
	vertical-align: top;
	font-size: 16px;
}