//var
$col-padding: 30px;
$phone-padding: 17px;

@include phones {
	$col-padding: 17px;
}

//element
.footer {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	@include font("Roboto-Light");
	color: $color-white;
}

//blocks
.footer__col {
	@extend .footer__col_grey;
	position: relative;
	padding: $col-padding;
	flex: 1;

	@include phones {
		flex: 3 0 100%;
		padding: $phone-padding;
		//font-size: 13px;
		text-align: center;
	}
}

.footer__col_big {
	@extend .footer__col_grey;
	position: relative;
	padding: $col-padding;
	flex: 1;

	@include tablets {
		flex: 3 0 100%;
		padding-top: 0;
	}

	@include phones {
		padding: $phone-padding;
	}
}

.footer__copyright {
	padding: 12px;
	text-align: center;

	flex: 3 0 100%;
}

//modifiers
.footer__col_border {
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: $col-padding;
		right: 0;
		width: 1px;
		height: calc(100% - 60px);
		background: rgba($color-white, .2);

		@include phones {
			top: auto;
			bottom: 0;
			left: $phone-padding;
			width: calc(100% - 34px);
			height: 1px;
		}
	}
}

.footer__col_green {
	background: rgba($color-buttons, 0.85);
}
.footer__col_grey {
	background: rgba($color-font-head, 0.85);
}