//var
$btn-height: 45px;
$rad: 5px;
$padd: 20px;

//
.form {
	@include flex-to(between-col);
	width: $form-width;
	border-radius: $rad;
	overflow: hidden;

	@include phones {
		width: 90%;
		margin: 0 5%;
	}
}

.login-form {
	margin-top: 20px;
	width: 100%;
}

//
.form__content {
	@include flex-to(center);
	flex-direction: column;
	padding: ($padd * 2) $padd $padd $padd;
}

.form__buttons {
	@include flex-to(between);
	height: $btn-height;
	line-height: $btn-height;
	background: $color-buttons;
}

.form__btn {
	flex-grow: 1;
	color: $color-white;
	@include font("Roboto-Medium");
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&:not(:last-child) {border-right: 2px solid rgba($color-white, .5);}

	&:hover {background: $color-accents;}
}

.form__input {
	width: 100%;
}

.form__captcha {
	@include flex-to(center);
	flex-direction: column;

	.p-mrg { margin: 13px 0 5px 0; }
}
.form__captcha_radio {
	width: 60%;
	@include flex-to(between);
	justify-content: space-between;
}

//background
.form_dark {
	background: rgba($color-windows, .6);
	color: $color-white;
}

.form_light {
	background: rgba($color-bg5, .6);
	//box-shadow: 0 0 15px #999;
}