//var
$btn-height: 45px;
$rad: 5px;
$padd: 20px;

//
.form {
	@include flex-to("between-col");
	width: $form-width;
	border-radius: $rad;
	overflow: hidden;

	@include phones {
		width: 90%;
		margin: 0 5%;
	}
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	width: 100%;
	margin-top: 20px;
}

.form__content {
	@include flex-to(center);
	flex-direction: column;
	height: calc(100% - 45px);
	padding: ($padd * 2) $padd $padd $padd;
}

.form__buttons {
	display: flex;
	flex-basis: $btn-height;
	background: rgba($color-buttons, .7);
}

.form__btn {
	flex-grow: 1;
	line-height: $btn-height;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	outline: none;
	color: $color-white;
	@include font("Roboto-Medium");
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&:not(:last-child) {border-right: 2px solid rgba($color-white, .5);}

	&:hover {background: rgba($color-accents, .85);}

	&:disabled {
		color: $color-skill-first;
		background: rgba($color-bg8, .7);
		cursor: wait;
	}
}

.form__input {
	width: 100%;
}

.form__captcha {
	@include flex-to(center);
	flex-direction: column;

	.p-mrg { margin: 13px 0 5px 0; }
}
.form__captcha_radio {
	width: 60%;
	@include flex-to(between);
	justify-content: space-between;
}

//background
.form_dark {
	background: rgba($color-windows, .6);
	color: $color-white;
}

.form_light {
	background: rgba($color-bg5, .6);
	//box-shadow: 0 0 15px #999;
}

//formContactMe
.form-contactMe {
	@extend .form_light;
	height: 460px;
}