//blocks
.header {
	@include flex-to(between-col);
	height: 100vh;
	position: relative;
	color: $color-white;
}

.header_blog { height: auto; }

//elements
.header__nav {
	@include flex-to(between);
	margin: 30px;
}

.header__content {
	@include flex-to(center);
	flex-direction: column;
	position: relative;
}

//
.header__content_about {
	margin: 45px 30px 130px 30px;
}

.header__content_blog {
	margin-top: 80px;
}