.main-menu {
	//display: none;
	position: fixed;
	@include flex-to(center);
	width: 100vw;
	min-height: 100vh;
	background: rgba($color-buttons, .87);
	z-index: 100;
	transition: all 1s ease;
	transform: translateY(-100%);
}


.main-menu__item {
	@extend %head1;
	padding: 45px 0;
	color: $color-white;
	text-decoration: none;
	transform: scale(0);
	
	//вынести в скрипт
	&:nth-child(1) {transition-delay: .3s;}
	&:nth-child(2) {transition-delay: .5s;}
	&:nth-child(3) {transition-delay: .7s;}
	&:nth-child(4) {transition-delay: .9s;}
	//
	&:hover {
		@include head-underline(20px);
	}
	
}

.main-menu_target { 
	transform: translateY(0); 
	
	.main-menu__item {
		transform: scale(1);
		transition-property: transform;
		transition-duration: .3s;
		transition-timing-function: ease-in;
	}
}
