//VARIABLES
//colors
$color-bg1: #f8f9f5;
$color-bg2: #f4f5f0;
$color-bg3: #faf8f0;
$color-bg4: #f0efe9;
$color-bg5: #ebefe2;
$color-bg6: #e1e4d7;
$color-bg7: #f1ede1;
$color-bg8: #b0b7aa;
$color-bg9: #93998d;
$color-buttons: #6c9c5a;
$color-accents: #4e8839;
$color-warning: #e44845;
$color-windows: #122620;
$color-substrt: #93c42e;
$color-font-main: #566358;
$color-font-blog: #455a64;
$color-font-head: #373e42;
$color-font-link: #6da3bd;
$color-skill-first: #e0ddd6;
$color-skill-second: #74a263;
$color-white: #fff;
$color-black: #000;

//sizes
$size-font-main: 16px;
$size-font-head: 63px;
$size-font-subh: 35px;
$width-sidebar-pc: 30%;
$width-sidebar-px: 285px;
$form-width: 380px;

$height-footer: 185px;

//other
$blog-transition: transform .5s ease-in-out;


//IMPORT
@import "layout/mixins";
@import "layout/fonts";
@import "layout/setups";
@import "helpers/**/*";
@import "blocks/**/*";