//modifiers

.bg_forest-full {
	background-image: url(../img/bg/forest.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $color-white;

	@include tablets {
		background-image: url(../img/bg/forest-tablet.png);
	}

	@include phones {
		background-image: url(../img/bg/forest-phone.png);
	}
}

.bg_forest-bottom {
	background-image: url(../img/bg/forest-bottom-phone.png);
	background-position: bottom center;
	background-size: 100% 200vh;
	background-repeat: no-repeat;
}
