//modifiers

.bg_forest-full {
	background-image: url(../img/bg/forest.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-white;
}

.bg_forest-bottom {
	background-image: url(../img/bg/forest2.png);
	background-position: bottom center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.bg_forest-double {
	background-image: 	url(../img/bg/forest.png),
						url(../img/bg/forest-bottom.png);
	background-position: 	top center,
							bottom center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}