$input-height: 45px;

@keyframes check {
	0%   { transform: scale(0); }
	100% { transform: scale(1); }
}
@keyframes radio {
	0%   { transform: scale(1); }
	100% { transform: scale(.5); }
}

//.form { width: 100%; }

%input {
	width: 100%;
	min-height: $input-height;
	@include font("Roboto-Regular");
	color: rgba(#5d5a55, .5);
	border: none;
	border-radius: 30px;
	//overflow: hidden;

	&:focus {
		outline: none;
		box-shadow: 0 0 3px 2px rgba($color-substrt, .7);
	}
}

.input {
	@extend %input;
	position: relative;
	//margin: 10px 0;
	background: rgba($color-white, .85);
}

.input_padding { padding: 0 20px; }

.textarea {
	@extend .input;
	height: 140px;
	padding-top: 15px;
	padding-bottom: 15px;
	resize: none;
}

//login and password
.input_login,
.input_passw {
	//margin-bottom: 20px;

	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		width: $input-height;
		height: 100%;
		top: 0;
		left: 0;
		background: $color-bg4;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		border-radius: 30px 0 0 30px;
	}
}

.input_login::before { background-image: url("/assets/img/icons-png/login.svg"); }
.input_passw::before { background-image: url("/assets/img/icons-png/password.svg"); }

.input_hidden {
	@extend %input;
	padding-left: $input-height + 10px;
	background: none;
}


//Warning
.input_warning {
	box-shadow: 0 0 3px 2px rgba($color-warning, .7);
	background: rgba($color-warning, .1);
	color: $color-warning;
}


//button "Download picture"
.add-pic {
	margin: 10px 0;
	//color: $color-buttons;
	&::after {
		content: "";
		display: inline-block;
		background: url("/assets/img/icons-png/add-pic.png") 0 0 no-repeat;
	}
}


//checkbox and radio
$size: 20px;
$bg: $color-white;
$mrg-check: 0;
$mrg-radio: 6px;
$border: 0;
$brd-radius-check: 3px;
$brd-radius-radio: 50%;
$custom-background: $color-buttons;   /* color or image */

// checkbox and radio
.checkbox,
.radio {
    display: none;
}
 /* view for custom checkbox */
.checkbox-custom,
.radio-custom {
	position: relative;
    width: $size;
    height: $size;
	background: $bg;
    border: $border;
	cursor: pointer;
}

/* centering */
.checkbox-custom,
.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

/* custom element */
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
}

// checkbox
.checkbox:checked + .checkbox-custom::before {
	content: "✔"; //"\f14a"
	line-height: $size;
	text-align: center;
	color: $bg;
	animation: check .2s ease-in-out;
}
.checkbox-custom,
.checkbox:checked + .checkbox-custom::before { border-radius: $brd-radius-check; }

.checkbox:checked + .checkbox-custom::before {
    top: $mrg-check;
    right: $mrg-check;
    bottom: $mrg-check;
    left: $mrg-check;
    background: $custom-background;
}

// radio
.radio-custom,
.radio:checked + .radio-custom::before {
    border-radius: $brd-radius-radio;
}

.radio:checked + .radio-custom::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $custom-background;
	transform: scale(.4);
	animation: radio .2s ease-in-out;
}


//padding for text in label
.label { padding-left: 10px; }
.radio:checked ~ .label { color: $custom-background; }