.section_about {
	background: $color-bg5;
}

.section_skills {
	background: $color-bg2;
}

.section_works {
	background: $color-bg1;
}

//удалить после добавления карты
.map {
	@include flex-to(center);
	height: 600px;
}
.bg_map {
	background-image: url(../img/bg/map.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}