//common titles
.title {
	@extend %head1;
	margin: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.subtitle {
	@extend %head2;
	padding-bottom: 29px;
	text-transform: uppercase;
	@include head-underline();
}


//styles for specific blocks
.title_works {
	@extend .title;
	@include head-underline(18px);
	padding: 73px 0 48px 0;
	background-image: url("/assets/img/decor/works-header.png");

	@include phones {
		padding: 50px 0 40px 0;
		margin-top: -20px;
	}
}

.title_speak {
	@extend .title;
	@include head-underline();
	padding: 45px 0 40px 0;
	background-image: url("/assets/img/decor/about-header.png");
	max-width: 510px;

	@include phones {
		padding: 27px 0;
	}
}

.title_about {
	@extend .title;
	@include head-underline();
	padding: 55px 60px 30px 65px;
	background-image: url("/assets/img/decor/about-header.png");
}

.title_blog  {
	@extend .title;
	@include head-underline(67px);
	margin-top: -32px;
	padding: 64px 86px 100px 86px;
	background-image: url("/assets/img/decor/blog-header.png");
}