//- meta
-
	var metaData = {
		"auth": "Elena",
		"desc": "Портфолио веб-разработчика",
		"keyw": "frontend, web, фронтенд, веб-разработка"
	}

//- socials
-
	var links = [
		{
			name: 'vk',
			href: 'https://vk.com/id48174114'
		}, {
			name: 'github',
			href: 'https://github.com/Leneli'
		}, {
			name: 'in',
			href: 'https://www.linkedin.com/in/elena-lehmann-9310aa112/'
		}
	]

//- menu items
-
	var navigation = [
		{
			name: 'Мои работы',
			href: '/works.html'
		}, {
			name: 'Обо мне',
			href: '/about.html'
		}, {
			name: 'Блог',
			href: '/blog.html'
		}, {
			name: 'Авторизация',
			href: '/login.html'
		}
	]

//- other
- var bottomBg = ""
- var headerSubClass = "header__content_about"