div
	h2 Блог

	.adm-body
		.adm-blog
			p.text-bold Добавить запись

			form
				.adm-form
					input.adm-input__text(type="text" placeholder="Название")
					input.adm-input__text(type="text" placeholder="Дата")
					textarea.adm-input__textarea(placeholder="Статья")

	footer.adm-footer
		button.adm-input_btn Добавить