div
	h2 Отзывы

	.adm-body
		.adm-blog
			p.text-bold Добавить запись

			form
				.adm-form
					input.adm-input__text(type="text" placeholder="Имя оставившего отзыв")
					input.adm-input__text(type="text" placeholder="Пояснение к имени")
					input.add-pic(type="file" accept="image/*" title="Загрузить фото")
					textarea.adm-input__textarea(placeholder="Отзыв")

	footer.adm-footer
		button.adm-input_btn Добавить