div
	h2 Мои работы

	.adm-body
		.adm-blog
			p.text-bold Добавить запись

			form#upload(action='/upload' method="POST" enctype="multipart/form-data")
				.status
				.adm-form
					input.adm-input__text#file-desc(name="name" type="text" placeholder="Название проекта")
					//-input.adm-input__text(name="tech" type="text" placeholder="Технологии")
					input.add-pic#file-select(name="photo" type="file" accept="image/*" title="Загрузить скриншот работы")

	footer.adm-footer
		input.adm-input_btn(name="" form="upload" type="submit" value="Добавить")
		input.adm-input_btn(name="" form="upload" type="reset" value="Очистить")