div
	h2 Мои работы

	.adm-body
		.adm-blog
			p.text-bold Добавить запись

			form
				.adm-form
					input.adm-input__text(type="text" placeholder="Название проекта")
					input.adm-input__text(type="text" placeholder="Технологии")
					input.add-pic(type="file" accept="image/*" title="Загрузить скриншот работы")

	footer.adm-footer
		button.adm-input_btn Добавить