.quotes
	.quote__item
		img(src="/assets/img/content/9.png" alt="")
		p.quote__text_bg Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
		div
			p.quote__author.quote_accent Сабанцев Владимир
			p.quote__author.quote_d преподаватель

	.quote__item
		img(src="/assets/img/content/9.png" alt="")
		p.quote__text_bg Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
		div
			p.quote__author.quote_accent Сабанцев Владимир
			p.quote__author.quote_d преподаватель