//- svg
mixin svgLine(className)
	svg(width="100%" height="14" viewbox="0 36 80 14" class=`${className}`)
		g
			path(fill="none", stroke-width="3.9003", stroke-miterlimit="10", d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")
		g
			path(fill="none", stroke-width="3.9003", stroke-miterlimit="10", d="M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005")



//-preloader
.preloader
	.preloader__spinnre

		.preloader__percents#percrnts 0

		.preloader__animation
			.preloader__line.line-1
				+svgLine("svg-stroke_white")
			.preloader__line.line-2
				+svgLine("svg-stroke_white")
			.preloader__line.line-3
				+svgLine("svg-stroke_white")