mixin button(arowDirection, btnClass)
	div(class=`slider__btn_top ${btnClass}`)
		div(class=`slider_arrow ${arowDirection}`)
			+svgIcon("arrow_down", "svg_white", "0 0 25.18 16.164")


//- Slider
.slider

	.slider__picture
		img(src="/assets/img/works/work-2.png" alt="test")

	.slider__desc
		h2.subtitle.work__title Сайт школы онлайн образования
		span.work__tech HTML, CSS, JavaScript
		a(href="#").work__link Просмотреть сайт

	.slider__nav
		.slider__btn
			img(src="/assets/img/works/work-1.png" alt="test")
			+button("", "prew")
		.slider__btn
			img(src="/assets/img/works/work-3.png" alt="test")
			+button("arrow_up", "next")