//media queries
@mixin tablets() {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones() {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin for-blog() {
	@media screen and (max-width: 900px) {
		@content;
	}
}


//add font
@mixin font($family) {
	font-family: $family;
}


//flex
@mixin flex-to($param) {
	@if $param == "center" {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@if $param == "between" {
		display: flex;
		justify-content: space-between;
	}

	@if $param == "between-col" {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}


//text
%head1 {
	@include font("Sansus-Webissimo-Regular");
	text-transform: uppercase;
	font-size: 63px;
	line-height: 63px;
	text-align: center;

	@include tablets {
		font-size: 48px;
		line-height: 48px;
	}

	@include phones {
		font-size: 35px;
		line-height: 35px;
	}
}

%head2 {
	@include font("Sansus-Webissimo-Regular");
	font-size: 35px;
	line-height: 35px;
	text-align: center;

	@include tablets {
		font-size: 30px;
		line-height: 30px;
	}

	@include phones {
		font-size: 21px;
		line-height: 21px;
	}
}

@mixin head-underline($bottom: 0) {
	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 89px;
		height: 0;
		bottom: $bottom;
		left: calc(50% - 45px);
		border-bottom: 3px solid;
	}
}


//parallax
@mixin parallax-background($url, $bgSize: cover) {
    background-image: url($url);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: $bgSize;
}