extends ../_page

block variables
	- var title = "About"
	- var leftTraingleClass = "traingle_about-left"
	- var rightTraingleClass = "traingle_about-right"
	- var bottomBg = "bg_map"


block content
	.columns_two
		section.section_about.columns_two
			div
				h1.h1_underline.text-center Обо мне

			div
				+userpic()
				h2.h2_underline.text-center Кто я
				.about-text
					p
					|Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.

		section.section_skills
			h2.h2_underline.text-center Чем я могу быть вам полезен
			p
			| Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.

			.skills Frontrnd... 

	section.section_map
		.map
			.contacts
				h2.h2_underline Контакты