extends ../_page

block variables
	- var title = "About"
	- var leftTraingleClass = "traingle_about-left"
	- var rightTraingleClass = "traingle_about-right"


block content
	.about
		section.about__user
			.about__user_title
				h1.title_about Обо мне

			.about__user_info
				+userpic("about_userpic")
				h2.subtitle Кто я
				p.paragraph
					|Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.

		section.about__skills
			h2.subtitle Чем я могу быть вам полезна
			p.paragraph
				| Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
			
			.about__skills_position
				span.skills__group-name Frontend
				+skills(Frontend)

				span.skills__group-name Backend
				+skills(Backend)
				
				span.skills__group-name WorkFlow
				+skills(WorkFlow)
			

	section.section_contacts(style="background: #6c9c5a;")
		include ../blocks/contacts


block picture
	.picture
		img(src="/assets/img/bg/map.png" alt="")