extends ../_page

block variables
	- var title = "Blog"
	- var leftTraingleClass = "traingle_blog"
	- var rightTraingleClass = "traingle_blog"
	- var headerClass = "bg_forest-full header_blog"
	- var headerSubClass = "header__content_blog"


block header-nav

block header-content
	+userpic("img_circle")
	h1.title_blog Блог
	span.user__desc_blog Статьи, которые я написала

block content
	.blog#blog
		aside.sidebar
			nav.sidebar-nav
				each link in ["Статья 1", "Статья 2", "Статья 3", "Статья 4"]
					span.sidebar__link #{link}

			.sidebar__btn#btn

		section.blog__content
			article.article
				h2.article__name Статья 1
				time.article__date 22 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.

			article.article
				h2.article__name Статья 2
				time.article__date 20 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.

			article.article
				h2.article__name Статья 3
				time.article__date 22 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

			article.article
				h2.article__name Статья 4
				time.article__date 22 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.