extends ../_page

block variables
	- var title = "Blog"
	- var leftTraingleClass = "traingle_blog"
	- var rightTraingleClass = "traingle_blog"
	- var headerSubClass = "header__content_blog"


block header-nav

block header-content
	+userpic("img_circle")
	h1.title_blog Блог
	span.user__desc_blog Статьи, которые я написала

block content
	.blog
		nav.articles-nav
			each link in ["Статья 1", "Статья 2", "Статья 3", "Статья 4 с длинным название которое не умещается в одну строку ну никак абсолютно и вообще"]
				a(href="#" class="articles-nav__link") #{link}

		.blog__content
			section.article
				h2.article__name Самое важное в SASS
				time.article__date 22 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.

			section.article
				h2.article__name Приемы верстки
				time.article__date 20 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.

			section.article
				h2.article__name Самое важное в SASS
				time.article__date 22 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.

			section.article
				h2.article__name Самое важное в SASS
				time.article__date 22 ноября 2016
				.article__text
					p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.