extends ../_forest

block variables
	- var title = 'Welcome'
	-
		var navigation = [
			{
				name: 'Мои работы',
				href: '/works.html'
			}, {
				name: 'Обо мне',
				href: '/about.html'
			}, {
				name: 'Блог',
				href: '/blog.html'
			}
		]

	
block content

	.flip
		.flip__el#login
			+formIndex("flip__front")
			+formLogin("flip__back")