extends ../_forest

block variables
	- var title = 'Welcome'
	-
		var navigation = [
			{
				name: 'Мои работы',
				href: '/works.html'
			}, {
				name: 'Обо мне',
				href: '/about.html'
			}, {
				name: 'Блог',
				href: '/blog.html'
			}
		]

	
block content
	.form__content
		include ../blocks/user-head
		.socials_topm 
			+socials(socials, "svg_white-green-opacity")
	+menu(menuIndex, "form__btn", "form__buttons")