extends ../_page

block variables
	- var title = "Works"
	- var leftTraingleClass = "traingle_works"
	- var rightTraingleClass = "traingle_works"



block content
	section.section-bg_works
		h1.title_works Мои работы


	include ../blocks/slider


	section
		h1.title_speak Что обо мне говорят

		include ../blocks/quotes

		.section_contacts
			.form.form_light
				.form__content
					h2.subtitle Связаться со мной
					form
						input.input(value="Test")
						input.input
						textarea.textarea
				.form__buttons
					a.form__btn Отправить
					a.form__btn Очистить


block picture
	.picture
		img(src="/assets/img/bg/forest2.png" alt="")